<ion-header>
  <ion-toolbar>
    <ion-title>Input Data Production</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div style="margin-left: 14px">
    <ion-button color="medium" size="small" (click)="goBack()">
      <ion-icon name="arrow-back-outline"></ion-icon>
      Back</ion-button
    >
  </div>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="productionForm">
        <ion-input
          formControlName="shift"
          label="Shift"
          label-placement="floating"
          fill="solid"
          placeholder="Enter text"
          readonly
        ></ion-input>

        <ion-input
          formControlName="date"
          label="Date"
          label-placement="floating"
          fill="solid"
          placeholder="Enter text"
          readonly
        ></ion-input>

        <ion-input
          formControlName="line"
          label="Line"
          label-placement="floating"
          fill="solid"
          placeholder="Enter text"
          readonly
        ></ion-input>

        <ion-input
          formControlName="pic"
          label="PIC"
          label-placement="floating"
          fill="solid"
          placeholder="Enter text"
          readonly
        ></ion-input>

        <ion-input
          formControlName="cycle_time"
          label="Cycle Time"
          label-placement="floating"
          fill="solid"
          placeholder="Enter text"
          readonly
        ></ion-input>

        <ion-input
          formControlName="target"
          label="Target"
          label-placement="floating"
          fill="solid"
          placeholder="Enter text"
          readonly
        ></ion-input>
        <br />
        <div class="table-responsive">
          <table class="table-bordered table-striped">
            <thead>
              <tr>
                <th style="border: 1px solid #ccc; padding: 8px">Product</th>
                <th style="border: 1px solid #ccc; padding: 8px">Hour</th>
                <th style="border: 1px solid #ccc; padding: 8px">Cycle Time</th>
                <th style="border: 1px solid #ccc; padding: 8px">
                  Planning Qty
                </th>
                <th style="border: 1px solid #ccc; padding: 8px">Prod Qty</th>
                <th style="border: 1px solid #ccc; padding: 8px">NG Qty</th>
                <th style="border: 1px solid #ccc; padding: 8px">Efficiency</th>
                <th style="border: 1px solid #ccc; padding: 8px">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of productionData">
                <td>{{ item.line.line_name }}</td>
                <td>{{ item.production_start }} - {{ item.production_end }}</td>
                <td>{{ item.cctime }}</td>
                <td>{{ item.plan_qty }}</td>
                <td>{{ item.ok }}</td>
                <td>{{ item.ng }}</td>
                <td>
                  {{ item.ok + item.ng === 0 ? '0%' : ((item.ok / (item.ok +
                  item.ng)) * 100) | number: '1.0-0' }} %
                </td>
                <td>
                  <ion-button
                    size="small"
                    color="primary"
                    [routerLink]="[
                      '/tabs/input/production-entry',
                      {
                        line_id: item.line_id,
                        shift_id: item.shift_id,
                        date: item.date,
                        item_id: item.id
                      }
                    ]"
                  >
                    Edit
                  </ion-button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
